@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #1B1B1B;
  --primary: #024F28;
  --secondary: #479A5B;
  --tertiary: #272A27;
  --bgTint: #EFF7F0;
  --bgGreen: #E4FDE7;
  --black: #000000;
  --orange: #E3A000;
  --darkCyan: #02341B;
  --greenTeal: #0DDD74;
  --gray32: #525252;
}

@theme {
  --breakpoint-xs: 30rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none !important;
}

html {
  font-size: 16px;
  padding: 0px !important;
  overflow-x: hidden;
  background-color: var(--background);
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: var(--font-manrope);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: var(--primary);
}

h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--gray32);
}

.text-lg {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
}

.text-md {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.text-hero {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: var(--tertiary);
}

.text-intro {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: justify;
  color: var(--tertiary);
}

.text-footer {
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
}

.text-copy {
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}

.text-slogan {
  font-size: 20px;
  font-weight: 400;
  line-height: 86px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navlink {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--black);
  border-bottom: transparent 2px solid;
  &:hover {
    border-bottom: var(--secondary) 2px solid;
  }
}

.btn {
  cursor: pointer;
  color: var(--background);
  background-color: var(--secondary);
  height: 29px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 400;
  line-height: 100%;
  &:hover {
    opacity: 75%;
  }
}

.btn-sm {
  width: 121px;
}

.btn-md {
  width: 169px;
}

.btn-lg {
  width: 324px;
  height: 64px;
  font-size: 18px;
}

@media (min-width: 64rem) {
  h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 55px;
  }
  h5 {
    font-size: 32px;
    line-height: 40px;
  }
  h6 {
    font-size: 20px;
    line-height: 24px;
  }
  .text-lg {
    font-size: 22px;
    line-height: 30px;
  }
  .text-md {
    font-size: 18px;
    line-height: 25px;
  }
  .text-hero {
    font-size: 18px;
    line-height: 27px;
  }
  .text-intro {
    font-size: 16px;
    line-height: 25px;
  }
  .btn {
    height: 38px;
    font-size: 14px;
  }
  .btn-md {
    width: 224px;
  }
}
