@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #1B1B1B;
  --primary: #024F28;
  --secondary: #479A5B;
  --tertiary: #272A27;
  --bgTint: #EFF7F0;
  --bgGreen: #E4FDE7;
  --black: #000000;
  --orange: #E3A000;
  --darkCyan: #02341B;
  --greenTeal: #0DDD74;
  --gray32: #525252;
  --borderColor: #C0C0C0;
  --swiper-pagination-color: #024F28;
}

@theme {
  --breakpoint-xs: 30rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none !important;
}

html {
  font-size: 16px;
  padding: 0px !important;
  overflow-x: hidden;
  background-color: var(--background);
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: var(--font-manrope);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

h1 {
  font-size: 38px;
  font-weight: 900;
  line-height: 38px;
}

h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 27px;
  color: var(--primary);
}

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: var(--primary);
}

h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--gray32);
}

.text-xl {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.text-lg {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
}

.text-md {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.text-sm {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
}

.text-xs {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}

.text-2xs {
  font-size: 9px;
  font-weight: 700;
  line-height: 12px;
}

.text-3xs {
  font-size: 8px;
  font-weight: 400;
  line-height: 12px;
}

.text-hero {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: var(--tertiary);
}

.text-intro {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: justify;
  color: var(--tertiary);
}

.text-ticket-hd {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
}

.text-ticket-dt {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
}

.text-ticket-pr-lg {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.text-ticket-pr-md {
  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
}

.text-ticket-pr-sm {
  font-size: 7px;
  font-weight: 500;
  line-height: 15px;
}

.text-ticket-bd {
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
}

.text-ticket-ft {
  font-size: 9px;
  font-weight: 500;
  line-height: 18px;
  font-style: italic;
}

.text-name {
  font-size: 11px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  color: var(--primary);
}

.text-quote {
  font-size: 9px;
  font-weight: 400;
  line-height: 17px;
  color: var(--black);
}

.text-footer {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.text-copy {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
}

.text-slogan {
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
}

.btn {
  cursor: pointer;
  color: var(--background);
  background-color: var(--secondary);
  height: 29px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 400;
  line-height: 100%;
  &:hover {
    opacity: 75%;
  }
}

.btn-sm {
  width: 121px;
}

.btn-md {
  width: 169px;
}

.btn-lg {
  width: 195px;
  height: 38px;
  font-size: 12px;
}

.btn-xl {
  width: 241px;
  height: 48px;
  font-size: 14px;
}

.btn-ticket {
  width: 91px;
  height: 18px;
  font-size: 9px;
  font-weight: 500;
  line-height: 12px;
  background-color: var(--orange);
}

.navlink {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--black);
  border-bottom: transparent 2px solid;
  &:hover {
    border-bottom: var(--secondary) 2px solid;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
    width: 100%;
    height: 100%;
  }
  & img {
    width: 100%;
    height: 100%;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 64rem) {
  h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 55px;
  }
  h4 {
    font-size: 36px;
    line-height: 36px;
  }
  h5 {
    font-size: 32px;
    line-height: 40px;
  }
  h6 {
    font-size: 20px;
    line-height: 24px;
  }
  .text-xl {
    font-size: 22px;
    line-height: 27px;
  }
  .text-lg {
    font-size: 22px;
    line-height: 30px;
  }
  .text-md {
    font-size: 18px;
    line-height: 25px;
  }
  .text-sm {
    font-size: 16px;
    line-height: 28px;
  }
  .text-xs {
    font-size: 16px;
    line-height: 24px;
  }
  .text-2xs {
    font-size: 18px;
    line-height: 24px;
  }
  .text-3xs {
    font-size: 16px;
    line-height: 24px;
  }
  .text-hero {
    font-size: 18px;
    line-height: 27px;
  }
  .text-intro {
    font-size: 16px;
    line-height: 25px;
  }
  .text-ticket-hd {
    font-size: 20px;
    line-height: 36px;
  }
  .text-ticket-dt {
    font-size: 16px;
    line-height: 22px;
  }
  .text-ticket-pr-lg {
    font-size: 30px;
  }
  .text-ticket-pr-md {
    font-size: 18px;
    line-height: 30px;
  }
  .text-ticket-pr-sm {
    font-size: 11px;
    line-height: 25px;
  }
  .text-ticket-bd {
    font-size: 18px;
    line-height: 35px;
  }
  .text-ticket-ft {
    font-size: 15px;
    line-height: 30px;
  }
  .text-name {
    font-size: 44px;
    color: var(--background);
  }
  .text-quote {
    font-size: 23px;
    line-height: 45px;
  }
  .text-footer  {
    font-size: 30px;
    line-height: 37px;
  }
  .text-copy {
    font-size: 14px;
    line-height: 40px;
  }
  .text-slogan {
    font-size: 20px;
    line-height: 86px;
  }
  .btn {
    height: 38px;
    font-size: 14px;
  }
  .btn-md {
    width: 224px;
  }
  .btn-lg {
    width: 280px;
    height: 48px;
    font-size: 16px;
  }
  .btn-xl {
    width: 324px;
    height: 64px;
    font-size: 18px;
  }
  .btn-ticket {
    width: 151px;
    height: 31px;
    font-size: 15px;
    line-height: 20px;
  }
}
