@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #1B1B1B;
  --primary: #024F28;
  --secondary: #479A5B;
  --tertiary: #272A27;
  --bgTint: #EFF7F0;
  --black: #000000;
}

@theme {
  --breakpoint-xs: 30rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none !important;
}

html {
  font-size: 16px;
  padding: 0px !important;
  overflow-x: hidden;
  background-color: var(--background);
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: var(--font-manrope);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.navlink {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: var(--black);
  border-bottom: transparent 2px solid;
  &:hover {
    border-bottom: var(--secondary) 2px solid;
  }
}

.btn {
  cursor: pointer;
  color: var(--background);
  background-color: var(--secondary);
  &:hover {
    opacity: 75%;
  }
}

.btn-sm {
  width: 121px;
  height: 38px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}
